
<div style="overflow-x: hidden" class="card">

	<div class="slide">
		<img class="media-object" src=http://cdn.chatmd.marmotte.industries/img/profile/<%- user.get('profile_pic') %>>
	</div>

	<ul class="table-view">

		<!--NAME-->
		<div>
			<% if (user.is_myself()) { %>
			<li class="table-view-cell">
				<a class="navigate-right" href="#update/name">
					<h2>
						<%- user.get('name') %>
					</h2>
				</a>
			</li>
			<% } else { %>
			<h2>
				<%- user.get('name') %>
			</h2>
			<% } %>
		</div>

		<!--TITLE-->
		<li class="table-view-divider">
			Title
		</li>
		<% if (user.is_myself()) { %>
		<li class="table-view-cell">
			<a class="navigate-right" href="#update/title">
				<%- user.get('title') %>
			</a>
		</li>
		<% } else { %>
		<li class="table-view-cell">
			<%- user.get('title') %>
		</li>
		<% } %>

		<!--ABSTRACT-->
		<li class="table-view-divider">
			Abstract
		</li>
		<% if (user.is_myself()) { %>
		<li class="table-view-cell">
			<a class="navigate-right" href="#update/abstract">
				<%- user.get('abstract') %>
			</a>
		</li>
		<% } else { %>
			<li class="table-view-cell">
				<%- user.get('abstract') %>
			</li>
		<% } %>

		<!--LOCATION-->
		<li class="table-view-divider">
			Location
		</li>
		<div id="location">
		</div>


		<!-- SKILLS -->
		<li class="table-view-divider">
			Skills
			<button class="btn btn-primary pull-right">
				Add
			</button>
		</li>
		<div id="all_skills">
		</div>


		<!-- EXPERIENCES -->
		<li class="table-view-divider">
			Experience
			<button class="btn btn-primary pull-right">
				Add
			</button>
		</li>
		<div id="all_experiences">
		</div>


		<!--HOBBIES-->
		<li class="table-view-divider">
			Hobbies
		</li>
		<% if (user.is_myself()) { %>
		<li class="table-view-cell">
			<a class="navigate-right" href="#update/hobbies">
				<%- user.get('hobbies') %>
			</a>
		</li>
		<% } else { %>
		<li class="table-view-cell">
			<%- user.get('hobbies') %>
		</li>
		<% } %>

	</ul>

</div>
