<div class="card">
	<form id="account" class="input-group">
		<textarea id="name" rows="10" placeholder="Name"><%- user.get('name') %></textarea>
	</form>
	
	<button class="btn btn-positive btn-block" id="update">
		Update
	</button>
</div>
