<div class="card">
	<form id="account" class="input-group">
		<textarea id="title" rows="10" placeholder="Title"><%- user.get('title') %></textarea>
	</form>

	<button class="btn btn-negative btn-block" id="delete">
		Remove
	</button>

	<button class="btn btn-positive btn-block" id="update">
		Update
	</button>
</div>
