<div id="conversation">
	<!-- Participants -->
	<div>
		<h3>Participants</h3>
		<ul class="table-view participants">
			<!-- Ils sont insérés ici -->
		</ul>
	</div>

	<!-- Messages -->
	<div>
		<h3>Messages</h3>
		<ul class="table-view messages">
			<!-- Ils sont insérés ici -->
		</ul>
	</div>

</div>

