<% if (user.is_myself()) { %>
	<a class="navigate-right">
		<%- experience.get('title') %>
		<p>
			<%- experience.get('description') %>
		</p>
	</a>
<% } else { %>
	<%- experience.get('title') %>
	<p>
		<%- experience.get('description') %>
	</p>
<% } %>
