<a class="navigate-right" href="<%- conversation.link_to_me() %>">
	<%- conversation.get('title') %>
	-
	<i><%- last_msg.get('content') %></i>

	<!-- mes participants vont en dessous -->
	<ul class="table-view">
	</ul>
</a>
