<% if (user.is_myself()) { %>
	<li class="table-view-cell">
		<a class="navigate-right">
			<%- location.get('name') %>
		</a>
	</li>
<% } else { %>
	<li class="table-view-cell">
		<%- location.get('name') %>
	</li>
<% } %>
