<% if (header_left_arrow_display) { %>
<a href="<%- header_left_arrow_path %>">
<button class="btn btn-link btn-nav pull-left">
	<span class="icon icon-left-nav"></span>
	Back
</button>
</a>
<% } %>

<h1 class="title">WhatsMD - <%- title %></h1>
