<a class="tab-item" href="#/user/<%- LoggedUser.get('id') %>">
	<span class="icon icon-person"></span>
	<span class="tab-label">Profile</span>
</a>
<a class="tab-item" href="#/users/search">
	<span class="icon icon-search"></span>
	<span class="tab-label">Search</span>
</a>
<a class="tab-item" href="#/conversations">
	<span class="icon icon-edit"></span>
	<span class="tab-label">Conversation</span>
</a>
<a class="tab-item" href="#/">
	<span class="icon icon-gear"></span>
	<span class="tab-label">Settings</span>
</a>
