<ul class="table-view">
	<li class="table-view-cell">
		<a class="navigate-right" href="#/user/1">
			User 1
		</a>
	</li>
	<li class="table-view-cell">
		<a class="navigate-right" href="#/user/2">
			User 2
		</a>
	</li>
	<li class="table-view-cell">
		<a class="navigate-right" href="#/user/3">
			User 3
		</a>
	</li>
	<li class="table-view-cell">
		<a class="navigate-right" href="#/user/4">
			User 4
		</a>
	</li>
</ul>
